$bg-primary: #131418;
// $bg-primary: #1a1a1a;
$bg-secondary: #222831;
$bg-icon: #333333;
// #1d1e22
$hover-primary: #1e1f26;

$border-primary: #393e46;
$border-secondary: #464a4f;

$color-primary: #ffbe00;
$color-secondary: #333333;
$color-white: #e6e6e6;
$color-light: #d5d5d5;
$color-accent: #ff4b5c;
$white-color: #fff;


/* set the overriding variables */

// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     xxl: 1380px,
//     xxxl: 1560px
// )

